.nav-dsk {
  display: block;
  text-align: center;
  margin-bottom: 15px 0;
  z-index: 1;
  position: relative;
  background: #03A9F4;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);

}
.nav-dsk ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}
.nav-dsk li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  font-size: 14;
  color: #fff;
}
.nav-dsk li a {
  padding: 15px 20px;
  font-size: 14;
  color: #fff;
  display: inline-block;
  outline: 0;
  font-weight: 400;
}
.nav-dsk li:hover ul.dropdown {
  display: block;
}
.nav-dsk li ul.dropdown {
  position: absolute;
  display: none;
  width: 200px;
  background: #2980B9;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding-top: 0;
}
.nav-dsk li ul.dropdown li {
  display: block;
  list-style-type: none;
}
.nav-dsk li ul.dropdown li a {
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  display: block;
  font-weight: 400;
}
.nav-dsk li ul.dropdown li:last-child a {
  border-bottom: none;
}
.nav-dsk li:hover a {
  background: #2980B9;
  color: #fff;
  text-decoration: none;
}
.nav-dsk li:first-child:hover a {
  border-radius: 3px 0 0 3px;
}
.nav-dsk li ul.dropdown li:hover a {
  background: rgba(0,0,0, .1);
}
.nav-dsk li ul.dropdown li:first-child:hover a {
  border-radius: 0;
}
.nav-dsk li:hover .arrow-down {
  border-top: 5px solid #fff;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #def1f0;
  position: relative;
  top: 15px;
  right: -5px;
}
.nav-mov__bg--title {
  display: none;
}

@media only screen and (max-width:992px) {

  .title-dsk {
    display: none;
  }
  .nav-dsk {
    width: 200px;
    height: 100%;
    display: block;
    position: fixed;
    left: -200px;
    top: 30px;
    z-index: 1;
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    -ms-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
    margin: 0;
    border: 0;
    border-radius: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }
  .nav-mov{

  &__bg {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 60px;
    z-index: 1;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff;
    padding: 12px 0 0 10px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
    &__bg--title {
    position: absolute;
    display: block;
    top: 8px;
    bottom: 10px;
    left: 100px;
    right: 100px;
    text-align: center;
  }
    &__bg--logo{
      width: 100px;

    }
  }

  .nav-dsk.visible {
    left: 0px;
    -webkit-transition: left 0.4s ease;
    -moz-transition: left 0.4s ease;
    -ms-transition: left 0.4s ease;
    -o-transition: left 0.4s ease;
    transition: left 0.4s ease;
  }
  .nav-mov__bg--burger {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 5px;
    left: 0;
    padding: 12px;
  }
  .nav-mov__bg--burger span {
    height: 2px;
    background: #03A9F4;
    margin: 5px;
    display: block;
    width: 20px;
  }
  .nav-mov__bg--burger span:nth-child(2) {
    width: 20px;
  }
  .nav-mov__bg--burger span:nth-child(3) {
    width: 20px;
  }
  .nav-dsk ul {
    padding-top: 50px;
  }
  .nav-dsk li {
    display: block;
  }
  .nav-dsk li a {
    display: block;
    color: #fff;
  }
  .nav-dsk li:first-child:hover a {
    border-radius: 0;
  }
  .nav-dsk li ul.dropdown {
    position: relative;
  }
  .nav-dsk li ul.dropdown li a {
    background: #2980B9 ;
    border-bottom: none;
    color: #fff ;
  }
  .nav-dsk li:hover a {
    background: #2980B9;
    color: #fff ;
  }
  .nav-dsk li ul.dropdown li:hover a {
    background: rgba(0,0,0,.1) ;
    color: #fff ;
  }
  .nav-dsk li ul.dropdown li a {
    padding: 10px 10px 10px 30px;
  }
  .nav-dsk li:hover .arrow-down {
    border-top: 5px solid #fff;
  }
  .arrow-down {
    border-top: 5px solid #fff;
    position: absolute;
    top: 20px;
    right: 10px;
  }
  .cover-bg {
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media only screen and (max-width:1200px) {

  .container {
    width: 96%;
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
